
<% content_for @title= "Accueil - Plateforme de préparation du BAC" %>
<!-- component -->
<div class="bg-white">
    <nav class="border-b">
        <div class="container px-6 py-2 mx-auto md:flex md:justify-between md:items-center">
            <div class="flex items-center justify-between">
                <div>
                    <%= link_to 'LNCLASS', root_path, class:"text-xl text-gray-800 font-blod uppercase md:text-3xl hover:text-gray-700" %>
                </div>
                <div class="flex md:hidden">
                    <button type="button" aria-label="toggle menu"
                        class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600">
                        <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                            <path fill-rule="evenodd"
                                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="items-center hidden md:flex">
                <div class="flex flex-col  space-y-8 md:flex-row md:items-center md:mt-0 md:space-y-0 md:space-x-16">
                    <%= link_to new_user_registration_path, class:"flex items-center px-6 py-2 font-medium tracking-wide text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:bg-red-500" do %>
                        <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        Je m'inscris
                    <% end %>
                    <%= link_to new_user_session_path, class:"flex items-center px-4 py-2 font-medium tracking-wide text-white  bg-blue-600 rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500" do %>
                        <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                        </svg>
                        Je me connecte
                    <% end %>
                </div>
            </div>
        </div>
    </nav>
    <div class="container px-6 py-10 mx-auto md:py-16">
        <div class="flex flex-col space-y-6 md:flex-row md:items-center md:space-x-6">
            <div class="w-full md:w-1/2">
                <div class="max-w-lg"> 
                    <h1 class="text-2xl font-medium tracking-wide text-gray-800 md:text-4xl">
                   Vous trouverez ici des sujets probables au BAC 2021.
                    </h1>
                <p class="">Avec leurs corrigés dans votre espace personnel. <br /></p> 
                <p class="">Abonnez-vous après. <br /> Mettez toutes les chances de votre coté avant les Examens.</p>
                 
                       
                    <p class="mt-2 text-gray-600">
                        Regardez les sujets qui ont retenus notre attention et que nous traiterons avec vous:
                    </p>
                    <div class="grid gap-6 mt-8 sm:grid-cols-2">
                    <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Sujet de Philo, Français + leurs corrigés détaillé Série D, A1 et A2</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                           <span>Sujet de Histoire-Géo + le corrigé détaillé Série D, A1 et A2</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Sujet de SVT + le corrigé détaillé</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Sujet de Physique-chimie + le corrigé détaillé Série D</span>
                        </div>
                        
                        <!-- 
                            
                            <div class="flex items-center space-x-6 text-gray-800">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Payment Security</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Fast shipping (+ Express)</span>
                        </div>
                            -->
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center w-full md:w-1/2">
            <%= image_tag("img-bac.png", alt:'le bac 2021', class:"w-full h-full max-w-2xl rounded" ) %>
                
            </div>
        </div>
    </div>
    <div class="container px-6 mx-auto">
        <h3 class="text-gray-800 ">Vous etes a un part pour accéder aux sujets dans votre espace personnel</h3>
        <div class="flex items-center space-x-6 py-6">
            <%= link_to new_user_registration_path, class:"flex items-center px-6 py-2 font-medium tracking-wide text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:bg-red-500" do %>
                <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                 Je m'inscris
            <% end %>
            <%= link_to new_user_session_path, class:"flex items-center px-4 py-2 font-medium tracking-wide text-white  bg-blue-600 rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500" do %>
                <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                </svg>
                Je me connecte
            <% end %>
            
        </div>
    </div>
  
    </div>
    <footer class="bg-gray-100">
        <div class="container flex flex-col items-center justify-between px-6 py-3 mx-auto sm:flex-row">
            <a href="#" class="text-xl text-gray-800 font-semiblod md:text-3xl hover:text-gray-700">
                lnclass
            </a>
            <p class="font-medium text-gray-800">07 599 779 03 (WhatsApp)</p>
            <p class="font-medium text-gray-800">lnclass.kamkara+siteweb@gmail.com</p>
        </div>
    </footer>
</div>