
<% content_for @title= "Accueil - Plateforme de préparation du BAC" %>
<!-- component -->
<div class="bg-white">
    <nav class="border-b">
        <div class="container px-6 py-2 mx-auto md:flex md:justify-between md:items-center">
            <div class="flex items-center justify-between">
                <div>
                    <%= link_to 'LNCLASS', root_path, class:"text-xl text-gray-800 font-blod uppercase md:text-3xl hover:text-gray-700" %>
                </div>
                <div class="flex md:hidden">
                    <button type="button" aria-label="toggle menu"
                        class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600">
                        <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                            <path fill-rule="evenodd"
                                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="items-center hidden md:flex">
                <div class="flex flex-col  space-y-8 md:flex-row md:items-center md:mt-0 md:space-y-0 md:space-x-16">
                    <%= link_to new_user_registration_path, class:"flex items-center px-6 py-2 font-medium tracking-wide text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:bg-red-500" do %>
                <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                Oui, Je veux Mon BAC
            <% end %>
            <%= link_to new_user_session_path, class:"flex items-center px-4 py-2 font-medium tracking-wide text-white capitalize bg-blue-600 rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500" do %>
                <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                </svg>
                Je me Connecte
            <% end %>
                </div>
            </div>
        </div>
    </nav>
    <div class="container px-6 py-10 mx-auto md:py-16">
        <div class="flex flex-col space-y-6 md:flex-row md:items-center md:space-x-6">
            <div class="w-full md:w-1/2">
                <div class="max-w-lg">
                    <h1 class="text-2xl font-medium tracking-wide text-gray-800 md:text-4xl">
                        Un BAC  de type APC chaque lundi matin et le corrigé avec les astuces le vendredi soir.
                    </h1>
                    <p class="mt-2 text-gray-600">
                        Nous sommes votre compagnons pour valider le bac.
                    </p>
                    <div class="grid gap-6 mt-8 sm:grid-cols-2">
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span> Des prépares dans toutes les matières</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Des conseils pour éviter les petites erreurs</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Vous avez des sujets, Partagez les sujets avec les autres.</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>42 profs disponibles pour repondre a vos questions tous les jours</span>
                        </div>
                        <!-- 
                            
                            <div class="flex items-center space-x-6 text-gray-800">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Payment Security</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Fast shipping (+ Express)</span>
                        </div>
                            -->
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center w-full md:w-1/2">
            <%= image_tag("img-bac.png", alt:'le bac 2021', class:"w-full h-full max-w-2xl rounded" ) %>
                
            </div>
        </div>
    </div>
    <div class="container px-6 mx-auto">
        <h3 class="text-gray-800 ">Rejoignez nous</h3>
        <div class="flex items-center space-x-6 py-6">
            <%= link_to new_user_registration_path, class:"flex items-center px-6 py-2 font-medium tracking-wide text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:bg-red-500" do %>
                <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                Oui, Je veux Mon BAC
            <% end %>
            <%= link_to new_user_session_path, class:"flex items-center px-4 py-2 font-medium tracking-wide text-white capitalize bg-blue-600 rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500" do %>
                <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                </svg>
                Je me Connecte
            <% end %>
            
        </div>
    </div>
    
    <div class="container px-6 py-10 mx-auto md:py-16">
        <div class="flex flex-col space-y-6 md:flex-row md:items-center md:space-x-6">
            <div class="flex items-center justify-center w-full md:w-1/2">
                <%= image_tag('small_success.png', alt:"le bac en joie", class:"w-full h-full max-w-2xl rounded") %>
            </div>
            <div class="w-full md:w-1/2">
                <div class="max-w-md mx-auto">
                    <h1 class="text-2xl font-medium tracking-wide text-gray-800 md:text-4xl">
                        Ensemble vers le BAC
                    </h1>
                    <p class="mt-5 leading-7 text-gray-600">
                       Nous savons tous que le BAC n'est pas facile, C'est pour cette raison que les sujets de renforcement peuvent être traités sur la plateforme. <br>
                       Vos professeurs peuvent vous aider et vous aussi pouvez ajouter des sujets intéressants et aider les autres futur(e)s bachelier(e)s.
                    </p>
                    <div class="grid gap-6 mt-8 sm:grid-cols-2">
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Des sujets de renforcements</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Des conseils pour bien se préparer</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Des echanges entre groupes</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Des Professeurs disponibles pour vous repondre</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-3xl px-6 py-10 mx-auto">
        <h1 class="text-2xl font-medium tracking-wide text-center text-gray-800 md:text-4xl">
            Devenir Professeur Partenaire
        </h1>
        <p class="mt-2 text-center text-gray-600">
            les professeurs partenaires bénéficient d'une rémunération.
        </p>
        <div class="flex flex-col mt-6 space-y-5 sm:flex-row sm:items-center sm:space-y-0 sm:space-x-5">
            
<%= link_to accounted_teachers_path, class:"flex items-center px-6 py-2 font-medium tracking-wide text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:bg-red-500" do %>
                <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                Oui, devenir Prof Part
            <% end %>
            <!-- 
            <a href="https://docs.google.com/document/d/1miH5APi7SpXJvxjh9HIZscIWCDGBOuoH6chvgPwlPkw/edit?usp=sharing"
             class="flex items-center px-4 py-2 font-medium tracking-wide text-white capitalize bg-blue-600 rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                </svg>
                Voir les conditions
             </a>

            -->
        </div>
        
        
    </div>
    <footer class="bg-gray-100">
        <div class="container flex flex-col items-center justify-between px-6 py-3 mx-auto sm:flex-row">
            <a href="#" class="text-xl text-gray-800 font-semiblod md:text-3xl hover:text-gray-700">
                lnclass
            </a>
            <p class="font-medium text-gray-800">07 599 779 03 (WhatsApp)</p>
            <p class="font-medium text-gray-800">lnclass.kamkara+siteweb@gmail.com</p>
        </div>
    </footer>
</div>