<% content_for @title = @course.title %>

<div class="container-sm md:pt-8 sm:pt-14">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">

      
      <div class="card">
        <!-- title!-->
        <h1 class="text-xl leading-tight font-bold mt-2 mx-2">
          <%= @course.title %>
        </h1>

         <!-- avatar data/!-->
        <div class="flex items-cente mt-4 ml-6">
         
          <!-- Course meta data-->
          <%= render "courses/shared/user_card_course" %>
        </div>

        <!--content/!-->
        <div class="m-2">
          <p class="mx-2" id="read_more">
            <%= @course.content.to_s.html_safe %>
          </p>
          <hr>
          <!-- Options-->
          <%= render "courses/shared/options" %>
        </div>
      </div>
    </div>

    <!-- Post-->
    <div class="col-12 col-md-6 col-lg-6">
      <div id="display_post" id="readMore">
        <%= render @course.posts %>
      </div>

      <div class="post_form">
        <%= render "posts/form" %>
      </div>

      <!-- Message-->
      <div id="display_message" >
        <%= link_to course_message_path(@course), class:"text-black no-underline hover:text-black hover:no-underline" do %>
          <div class="container mb-2" id="readMore">
            <%= render @course.messages %>
           
          </div>
        <% end %>
      </div>
      <!-- Message form-->
      <div class="massege_form">
        <%= render "messages/form" %>
      </div>

    </div>
  </div>
</div>

