<%= form_with(model: material) do |form| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
        <% material.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field my-2">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
<div class="actions mt-2">
    <%= form.submit "Créer la matiere", class:"inline-flex justify-center py-2 px-4 border border-transparent 
  shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600
 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2
  focus:ring-indigo-500"%>
  </div>
<% end %>
