<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    
    <%= render "layouts/shared/headers" %>
  </head>

  <body class="bg-gray-100">
    <!--Home page  Navbar-->
    <%= render "shared/nav/navbar" %>
    <%= render "layouts/shared/notices" %>
    <%= yield %>
  </body>
    <!-- scripts-->
    <%= render "layouts/shared/scripts" %>

</html>
