<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= render "layouts/shared/headers" %>
  </head>

  <body class="bg-gray-100">
    <!--Home page  Navbar-->
    <%= render "shared/nav/navbar" %>
    <%= render "layouts/shared/notices" %>
    <%= yield %>
  </body>
  <!-- navbar script -->
  <script>
		//Javascript to toggle the menu
		document.getElementById('nav-toggle').onclick = function(){
			document.getElementById("nav-content").classList.toggle("hidden");
		}
	</script>
</html>
